/*CSS reset settings here*/
*{
 margin: 5px;
 padding: 5px;
}
#wrapper{
 width: 950px;
 background-color: silver;
margin: 0px auto;
}
#header{
 height: 150px;
 margin-left: 10px;
 margin-right: 10px;
 background-color: green;

}
#navigation{
 height: 240px;
 width: 200px;
 margin-left: 10px;
 margin-bottom: 10px;
 display: inline-block;
 vertical-align: 10px;
 /*vertical-align: top;*/
 background-color: blue;
}
#main_content{
 height: 300px;
 width: 700px;
 margin-left: 5px;
 display: inline-block;
 vertical-align: top;
 background-color: red;
}
.subcontents{
 height: 160px;
 width: 200px;
 margin: 10px 5px;
 /*position: inherit;*/
 display: inline-block;
 vertical-align: top;
 background-color: yellow;

}
#advertisement{
 height: 70px;
 width: 650px;
 margin-top: 10px;
 margin-right: 15px;
 display: inline-block;
 background-color: purple;
}
